<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hossam.sambaking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_oven"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_oven"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RecipeDetailsActivity">

            <!--android:configChanges="orientation|screenSize"-->
        </activity>

        <receiver
            android:name=".services.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:icon="@drawable/exo_controls_play"
            android:label="Example Widget"
            android:name=".activities.SimpleAppWidgetProvider">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_app_widget_info"/>

        </receiver>

        <service android:name=".activities.ListViewRemoveViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>